@import "../../global.scss";
.lookingFor{
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 60px;
        text-align: center;
        
        @include mobile{
          font-size: 30px;
        }
      }

    .container{
        display: flex;
        justify-content: center;
        height: 90%;
        margin-top: 10px;
        @include mobile{
            flex-direction: column;
            margin-top: 7px;
        }
        
        .left{
            display: flex;
            flex:6;
            @include mobile{
                flex: 8;
            }
            .bg{
                display: flex;
                height: 89%;
                width: 100%;
                margin: 0;
                align-items:flex-start;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                clip-path: ellipse(25% 48% at 50% 49%);
                background-color: crimson;
                overflow-y: hidden;

                @include mobile{
                    height: 83%;
                }
                img{
                    object-fit: cover;
                    height: 500px;
                    @include mobile{
                        align-self: center;
                        height: 260px;
                    }
                }
            }
        }
        .right{
            display: flex;
            flex: 6;
            align-items: center;
            justify-content: center;
            @include mobile{
                flex: 4;
            }
            ul{
                list-style-type: style;
                padding: 25px;
                box-shadow: 0px 0px 15px -8px black;
                border-radius: 10px;
                transition: all 1s ease;
                font-family: 'Roboto',sans-serif;
                &:hover{
                    transform: scale(1.06);
                }

                @include mobile{
                    width: 85%;
                    padding: 10px;
                }
                li{
                    margin-top: 6px;
                    @include mobile{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}