@import "../../global.scss";

.works {
  background-color:crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1{
    position: absolute;
    font-size: 50px;
    top: 0;
    color: white;
    letter-spacing: 0.1rem;

    @include mobile{
      position: absolute;
      font-size: 20px;
      top: 0;
    }
  }
  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        display: flex;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        background-color: white;

          @include mobile {
            width: 80%;
            height: 150px;
            margin: 15px 0;
          }
        
          #icon{
            border-radius: 50%;
            background-color: salmon;
            padding: 25px;
            font-size: 28px;
            color: antiquewhite;

            @include mobile{
              font-size: 18px;
              padding: 12px;
            }
          }

        
            h2 {
              font-size: 24px;
              letter-spacing: 0.05rem;

              @include mobile{
                font-size: 15px;
                font-weight: 450;
              }
            }

            h4{
              font-weight: 500;
              font-size: 16px;
              letter-spacing: 0.08rem;

              @include mobile{
                font-size: 12px;
              }
            }

            h5{
              font-weight: 400;
              letter-spacing: 0.04rem;
              @include mobile{
                  font-size: 12px;
              }
            }

            .location{

              .fa-map-marker-alt{
                margin-right: 10px;
                font-size: 20px;
                color: rgb(151, 210, 229);

                @include mobile{
                  font-size: 14px;
                }
              }

              span{
                font-size: 16px;
                color: #6e6c6c;
                @include mobile{
                  font-size: 13px;
                  color: black;
                }
              }
            }


            span {
              font-size: 12px;
              letter-spacing: 0.04rem;
              cursor: pointer;
              color: #555;

              @include mobile{
                font-size: 9.5px;
              }
            }
          }
      }
    }
  }
