@import "../../global.scss";

.hobbies{
    display: flex;
    align-items: center;
    justify-content: center;


.container{
    display: flex;
    padding-top:15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .hobby{
        padding: 8px 12px;
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: flex-start;
        background-color: aliceblue;
        margin-bottom: 10px;
        border-radius: 8px;

        @include mobile{
            padding: 8px 10px;
            width: 80%;
        }
    }

    h3{
        margin-left: 250px;
        font-weight: 500;
        font-size: 16px;
        @include mobile{
            margin-left: 120px;
            font-size: 14px;
            letter-spacing: 0.02rem;
        }
    }

    .icon{
        margin-left: 30px;
        padding: 10px;
        border-radius: 50%;
        background-color:lightgoldenrodyellow;

        @include mobile{
            margin-left: 15px;
        }
    }
}
}