.hobbies{
    display: flex;
    align-items: center;
    justify-content: center;


.container{
    display: flex;
    padding-top:15px;
    align-items: center;
    flex-direction: column;
    width: 30%;


    .hobby{
        padding: 10px 15px;
        display: flex;
        width: 40%;
        justify-content:flex-start;
        align-items: center;
        background-color:rgb(228, 188, 188);
        margin-bottom: 10px;
        border-radius: 8px;
    }

    .icon{
        padding: 10px;
        margin-left: 20px;
        margin-right: 380px;
        border-radius: 50%;
        background-color:lightgoldenrodyellow;
    }
}
}